<section class="bannerPublicitario">
    <div class="bannerContainer">
        <figure class="mobileBanner">
            <img src="images/72-slideMobile01.jpg" alt="Banner ofertas">
        </figure>
        <figure class="mobileBanner">
            <img src="images/72-slideMobile02.jpg" alt="Banner ofertas">
        </figure>
        <figure class="mobileBanner">
            <img src="images/72-slideMobile03.jpg" alt="Banner ofertas">
        </figure>
    </div>
    <div class="bannerContainer" id="bannerContainer">
        <figure class="desktopBanner">
            <img src="images/slideDesktop01.jpg" alt="Banner ofertas">
        </figure>
        <figure class="desktopBanner">
            <img src="images/slideDesktop02.jpg" alt="Banner ofertas">
        </figure>
        <figure class="desktopBanner">
            <img src="images/slideDesktop03.jpg" alt="Banner ofertas">
        </figure>
    </div>
    <button class="sliderButton sliderButtonLeft" id="sliderButtonLeft"> <span class="material-symbols-outlined">arrow_back_ios</span> </button>
    <button class="sliderButton sliderButtonRight" id="sliderButtonRight"> <span class="material-symbols-outlined"> arrow_forward_ios</span></button>
</section>
<section class="categories">
        <div class="primaries">
            <figure>
                <img src="images/bannerPlantas.jpg" alt="Banner productos" class="bannerPlantas">
            </figure>
        </div>
        <div class="secundaries">
            <figure>
                <img src="images/bannerMacetas.jpg" alt="Banner macetas" class="bannerMacetas">
                <img src="images/bannerCuidados.png" alt="Banner tips y cuidados" class="bannerCuidados">
            </figure>
        </div>  
        <script src="/js/slider.js"></script>
</section>