<!DOCTYPE html>
<html lang="en">

   <%- include('../partials/head.ejs') %> 

<body>

   <%- include('../partials/header.ejs') %> 
   
   <span id="emptyCart"></span>
   
    <main class="cartMain">

        
        
        <span id="showCartForm"></span>

        
        <section class="cartProducts">
            
            <span id="showProductCart"></span>
            
            <span  id="showProductTotal"></span>
             
        </section>
        
    </main>

    <%- include('../partials/footer.ejs') %> 

    <script src="/js/header.js"> </script>
    <script src="/js/cart/showCart.js"> </script>
    <script src="/js/cart/showCartIndex.js"></script>
</body>
</html>